body{
    background-color: pink;
}
h3{
    text-align: center;
}
form{
    border: 2px solid black;
    width: auto;

}

button{
    border: 1px solid pank;
    margin:auto 70%;
    width: 30%;
    height: 20%;
    border: outset;
    border-radius: 50px;
    background-color: pink;
}

.bar_div{
    height: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.text_p{
    font-size: 18px;
    font-style: italic;
    margin: 12px;
    text-indent: 40px;
}